<div class="navbar navbar-default">
    <style>
      a:link {color: whitesmoke;}
      a:visited {color: whitesmoke;}
      a:hover {color: goldenrod;}
      a:active {color: blue;}
    </style>
    <div class="col-4">
        <a href="https://www.kingston.com/us" target="_blank" style="font-size:23px;font-weight:bold;">Kingston Technologies</a>
        <span style="font-size:14px;color:lightgrey;font-weight:bold;"><br>17600 Newhope Street<br>Fountain Valley, CA 92708</span>
    </div>
    <div class="col-4">
        <a href="https://madisoncloud.com/" target="_blank" style="font-size:23px;font-weight:bold;">Madison Cloud</a>
        <span style="font-size:14px;color:lightgrey;font-weight:bold;"><br>36 S Charles St, Suite 2308<br>Baltimore, MD 21201</span>
    </div>
    <div class="col-4 text-right">
        <img src="images/sb_logo.png" width="50%" height="50%">     
    </div>      
</div> 