<div class="navbar navbar-default">
    <style>
      a:link {color: lightgray;}
      a:visited {color: lightgray;}
      a:hover {color: goldenrod;}
      a:active {color: blue;}
    </style>
    <div class="col-4">
        <a href="https://www.kingston.com/us" target="_blank" style="font-size:23px;font-weight:bold;">Kingston.com</a>
    </div>
    <div class="col-4 text-center">
        <a href="https://madisoncloud.com/" target="_blank" style="font-size:23px;font-weight:bold;">Madison Cloud</a>
    </div>
    <div class="col-4 text-right">
        <img src="images/sb_logo.png" width="50%" height="50%">     
    </div>      
</div> 