<nav class="navbar navbar-default">
        <div class="col-4">
          <a class="navbar-brand" href="/"><h2>Sliced Bologna</h2></a>
        </div>
        <div class="col-4 text-center">
          <a class="navbar-brand" href="/">Metrics</a>
          <a class="navbar-brand" href="/agents">Slices</a>
        </div>
        <div class="col-4">
            &nbsp;
          </div>
    </nav>