<nav class="navbar navbar-default">
        <div class="col-4">
          <a class="navbar-brand" href="/"><img src="images/kingston.png" width="40%" height="40%"><span style="font-size:23px;color:goldenrod;font-weight:bold;">&nbsp;/</span><img src="images/mc_logo.png" width="60%" height="60%"></a>
        </div>
        <div class="col-4 text-center">
          <a class="navbar-brand" href="/">
            <button type="button" class="btn <%- menuId == 'home' ? 'btn-light' : 'btn-secondary'%>" >
              Metrics
            </button>
          </a>
          <a class="navbar-brand" href="/agents">
            <button type="button" class="btn <%- menuId == 'agents' ? 'btn-light' : 'btn-secondary'%>" >
              Slices
            </button>
          </a>
        </div>
        <div class="col-4">
            &nbsp;
          </div>
    </nav>