.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: steelblue;
}
.navbar-brand {
  color: #01252b;
}
.divrf {
  position: fixed;
  top: 32px;
  right: 10px;
}

#my_dataviz_1, #my_dataviz_2, #my_dataviz_3 {
  position: relative;
}
#spinner1, #spinner2, #spinner3 {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 10;
}
