.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: steelblue;
}
.navbar-brand {
  color: #01252b;
}
.divrf {
  position: fixed;
  top: 32px;
  right: 10px;
}

#dataviz_1, #dataviz_2, #dataviz_3, #dataviz_4, #dataviz_5, #dataviz_6, #dataviz_7, #dataviz_8 {
  position: relative;
}
#graph_1_spinner, #graph_2_spinner, #graph_3_spinner, #graph_4_spinner, #graph_5_spinner, #graph_6_spinner, #graph_7_spinner, #graph_8_spinner {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 10;
}
